.container {
  width: 100%;
  max-width: 100%;
  height: auto; 
  text-align: center;

}

body {
  font-family:'Noto+Sans', sans-serif;
  text-align: center;
  width: 95%;
  max-width: 100%;
  background-color: white;
}

header {
  background-color: #eafbf3;
  padding-bottom: 5px;
  max-width: 100%;
}
/* game area - modified code from tutorial: https://www.youtube.com/watch?v=bG2BmmYr9NQ */ 
#game {
  width: 90%;
  margin:auto;
  margin-top: 1%;
  text-align: center;
  height: 200px;
  border: 2px solid #0b1351;
  background-color: #dfeffb;
}

#character {
  width: 40px;
  height: 50px;
  position: relative;
  top: 150px;
}

.animate {
  animation: jump 500ms;
}

@keyframes jump {
  0% {top: 150px;}
  30% {top: 100px;}
  70% {top: 100px;}
  100%{top: 150px;}
}

#block {
  width: 30px;
  height: 20px;
  position: relative;
  top: 130px;
  left: 96%;
  animation: block 2s infinite linear;
}

@keyframes block {
  0% {left: 100%;}
  100% {left: 0%;}
}
/* game area tutorial end */
#game-over-message {
  display: none;
  position: relative;
  text-align:center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: red;
}

.button {
  border: 1px solid #0b1351;
  background-color: white;
  border-radius:20px;
}
/* quiz wrapper and elements*/
#wrapper {
  margin:2%;
}

.snailpic {
  width: 5%;
  padding-top: 10px;
}

#question, button {
  border: 1px solid #0b1351;
  background-color: #eafbf3;
  border-radius:20px;
  padding: 10px;
  margin: 5px;
  color: black;
}
/*Code to style the google chart*/
#chart_div {
  width: 30%; 
  height: auto; 
  position: relative;
  margin-left: auto; 
  margin-right: auto; 
}

#top-tips {
  text-align: center;
  list-style-type: none;
  max-width: 90%;
}
/* code snippet from W3Schools: https://www.w3schools.com/howto/howto_css_style_hr.asp */
hr {
    border: 10px solid #27ce48;
    border-radius: 5px;
  }
/* Footer modified from P2 walkthrough tutorial rock paper scissors */ 
footer {
  position: static;
  left: 0;
  bottom: 0;
  max-width: 100%;
  min-height: 80px;
  color: #04250a;
  text-align: center;
}

#social-networks {
    text-align: center;
    padding: 10px 0;
    justify-content: space-evenly; 
    list-style-type: none;
}

@media (max-width: 897px) {
    .container {
      width:100%;
      max-width: 100%;
      text-align: center;
      margin: auto;
    }

    header {
      max-width: 100%;
    }

    body {
      width: 90%;
      max-width:100%;
      text-align: center;
    }

    #chart_div {
      width: 90%;
      height: auto; 
      margin-left: 0%;
    }
}