.container {
    width: 100%;
    max-width: 1080px;
    margin: 2 auto;
    background-color:#f4f4f0;
    background: 100%;
    height: 100vh;
}

body {
  font-family:'Noto+Sans', sans-serif;
  margin: 2;
  text-align: center;
}

/* game area - modified code from tutorial: https://www.youtube.com/watch?v=bG2BmmYr9NQ */ 
#game{
  width: 80%;
  margin-left:20px;
  margin-right: 20px;
  margin-top: 1%;
  text-align: center;
  height: 200px;
  border: 2px solid #0b1351;
  background-color: #dfeffb;
}

#character {
  width: 40px;
  height: 50px;
  position: relative;
  top: 150px;
}

.animate {
  animation: jump 500ms;
}

@keyframes jump {
  0% {top: 150px;}
  30% {top: 100px;}
  70% {top: 100px;}
  100%{top: 150px;}
}

#block {
  width: 30px;
  height: 20px;
  position: relative;
  top: 130px;
  left: 96%;
  animation: block 2s infinite linear;
}

@keyframes block {
  0% {left: 100%;}
  100% {left: 0%;}
}

#game-over-message {
  display: none;
  position: relative;
  text-align:center;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: red;
}

.button {
  border: 1px solid #0b1351;
  background-color: white;
  border-radius:20px;
}

#chart_div {
  #chart_div {
    width: 100%; /* Make it responsive */
    height: auto; /* Adjust based on aspect ratio */
    margin: 20px 20px; /* Add some space around the chart */
    
  }
/* Footer modified from P2 walkthrough tutorial rock paper scissors */ 
.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 80px;
  padding-top: 5px;
  background-color: #bcf494;
  color: #04250a;
  
}

#social-networks {
    text-align: center;
    padding: 10px 0;
    justify-content: space-evenly; 
    list-style-type: none;
}